$primarycolor: #50d624;
$secondarycolor:blue;
$tertiarycolor:red;
$neutracolor:#333;
@mixin flexcenter($justifyy,$direcao){
    display: flex;
    justify-content: $justifyy;
    align-items: center;
    flex-direction: $direcao;
}
body{
    @include flexcenter(center,row);
    width: 100%;
    height: 100vh;

    background-color:#1a1a1a;
}
@mixin texto($TamanhoDoTexto,$FonteDoTexto){
    font-size: $TamanhoDoTexto;
    font-family:$FonteDoTexto;
}
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}


.bola1{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: $primarycolor;
        a{
            @include texto(50px,arial);
        color:$neutracolor;
        &:hover{
            background-color: #50d624;
            border: $secondarycolor;
            border-radius: 10px;
            padding: 10px;
            color: $tertiarycolor;
        }
    }

    &:hover{
        background-color: $secondarycolor;
    }
}

.bola2{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color:$secondarycolor ;
    &:hover{
        background-color: $neutracolor;
    }
}

.bola3{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color:$tertiarycolor ;
    &:hover{
        background-color: $primarycolor;
    }

}
.bola4{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color:$neutracolor ;
    &:hover{
        background-color: $secondarycolor;
    }
}